<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.3.xsd">
   
   <context:annotation-config/>
   
   <bean id="profile" class="com.kaushik.spring.springProject.Autowiring.AnottationBasedWiring.Profile"/>
   
   <bean id="student1" class="com.kaushik.spring.springProject.Autowiring.AnottationBasedWirinh.Student">
   		<property name="age" value="25"/>
   		<property name="name" value="Amit"/>
   </bean>
   <bean id="student2" class="com.kaushik.spring.springProject.Autowiring.AnottationBasedWirinh.Student">
   		<property name="age" value="27"/>
   		<property name="name" value="Amol"/>
   </bean>
	
</beans> 