<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop = "http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-4.3.xsd ">
	
	<bean id="eddie" class="com.kaushik.spring.springProject.AOP.InstrumentList">
		<property name="instrument">
			<bean class="com.kaushik.spring.springProject.AOP.Guiter"/>
		</property>
	</bean>
	<bean id="audience" class="com.kaushik.spring.springProject.AOP.Audience"/>
	
	<aop:aspectj-autoproxy/>

</beans> 