<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="gs1"
		class="com.kaushik.spring.springProject.dependencyInjection.GreetingServiceImpl"
		scope="singleton" lazy-init="default">
		<property name="greeting" value="Good Morning" />
	</bean>
	<bean id="gs2"
		class="com.kaushik.spring.springProject.dependencyInjection.GreetingServiceImpl"
		scope="singleton" lazy-init="default">
		<property name="greeting" value="Good Evening" />
	</bean>
</beans> 