<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   	http://www.springframework.org/schema/context
   	http://www.springframework.org/schema/context/spring-context-4.3.xsd">
   
   	<context:component-scan base-package="com.kaushik.spring.springProject"/>
   	
   	<!-- <bean class="org.springframework.beans.factory.config.PlaceholderConfigurerSupport">
   		<property name="/">
   			<array>
   				<value>connection.properties</value>
   			</array>
   		</property>
   	</bean> 
   	
   	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driver_class_name}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
		<property name="initialSize" value="${initial_size}"/>
		<property name="maxActive" value="${max_size}"/>
   	</bean> -->
   	
   	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="hr"/>
		<property name="password" value="hr"/>
   	</bean>
   	
   	<bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
   		<property name="dataSource" ref="dataSource"/>
   		<property name="hibernateProperties">
   			<props>
   				<prop key="hibernate.show_sql">true</prop>
   				<prop key="hibernate.format_sql">true</prop>
   				<prop key="hibernate.use_sql_comments">true</prop>
   				<prop key="hibernate.transaction.factory_class">
   					org.hibernate.transaction.JDBCTransactionFactory
   				</prop>
   				<prop key="hibernate.hbm2ddl.auto">create</prop>
   			</props>
   		</property>
   		<property name="mappingResources">
   			<array>
   				<value>Customer.hbm.xml</value>
   			</array>
   		</property>
   	</bean>
	
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate" autowire="byType"/>
	   	
</beans> 